.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content {
  background: url('https://flow-miniprogram.oss-cn-hangzhou.aliyuncs.com/cybermuyu/wish/wishCard.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 82.93vw;
  height: 58.13vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wish-close{
  width: 36rpx;
  height: 36rpx;
  position: absolute;
  top: 32rpx;
  right: 32rpx;
}
.wish-btn{
  margin-top: 584rpx;
  .wish-btn-item{
    width: 542rpx;
    height: 100rpx;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20rpx;
    background: radial-gradient(50% 50% at 50% 50%, #B37700 0%, #9C6800 100%);
    &:last-child {
      background: radial-gradient(50% 50% at 50% 50%, #CCBF78 0%, #C2AD3D 100%);
      margin-top: 32rpx;
    }
    .wish-btn-item-icon{
      width: 44rpx;
      height: 44rpx;
    }
    .wish-btn-item-text{
      font-size: 32rpx;
      margin-left: 16rpx;
    }
  }
}