.index-page {
  position: relative;
  height: 100vh;
  background-color: #000; // 黑色背景
  overflow: hidden;
  box-sizing: border-box;
}

.back-btn{
  position: absolute;
  top: 6%;
  left: 5%;
  color: #fff;
  font-size: 28rpx;
  font-weight: bold;
}

.title{
  position: absolute;
  top: 6%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
  font-size: 40rpx;
  font-weight: bold;
}

.personal-merit {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}
.global-merit {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  color: #fff;
}